<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>Tweet Messagerie</title>
	<!-- Bootstrap JS-->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<!-- Bootstrap JQUERY -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="CSS/vue_tweet_academie_messagerie.css">
	
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<a class="navbar-link" href="inscription.html">Deconnection</a>
    		<a class="navbar-link" href="tweet_accueil.html">Accueil</a>
			<img src="img/truite_des_rivieres.png" class="img-fluid" alt="Responsive image">
			<h1>Messagerie Truiter</h1>
		</div>
  	</nav>
	</header>
	<main class="row ">
		<section id="create_conv" class="col">
			<div id="create_new_conv">
				<h2>Nouvelle conversation:</h2>
				<input type="text" id="create_conv_name">
				<input id="create_conv_button" type="button" value="Créer">
			</div><br>
			<div id="conv_list">
			</div>
			<div id="conv_option">
				<h4>Ajouter un Truitos a la discussion</h4>
				<input type="text" id="add_truitos">
				<ul id="result_follower"></ul>
				<h4>Supprimer conversation</h4>
				<img src="delete.png" id="delete">
			</div>
		</section>
		<section id="messaging" class="col">
			<div id="tweet_content"><br><span id='default_message'> Créez une conversation</span></div>
			<textarea id="editable_area" maxlength="250"></textarea>
			<input type="button" id="send_button" value="Envoyer">
		</section>
	</main>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.js"></script>
	<script src="tweet_academie_messagerie.js"></script>
</body>
</html>